body {
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  box-sizing: border-box;
  background-color: rgb(223, 215, 215);
}

h1 {
  text-align: center;
  background-color: rgb(114, 22, 22);
  color: rgb(223, 215, 215);
  padding: 20px;
  margin: 0px 0px 15px 0px;
}

h4,
p {
  margin-top: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 20px 50px;
  padding-top: 20px;
  border: solid 2px black;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 25px;
  background-color: rgba(178, 178, 238, 0.56);
  color: black;
}

form button {
  width: 35%;
  margin-top: 30px;
}

button {
  padding: 5px;
  font-weight: bolder;
  color: rgb(114, 22, 22);
  background-color: rgb(223, 215, 215);
  margin-bottom: 5px;
}

button:hover {
  background-color: rgb(114, 22, 22);
  color: rgb(223, 215, 215);
}

form label {
  margin-bottom: 15px;
  /* font-weight: bold; */
  font-size: larger;
}

input {
  color: black;
  font-size: large;
  width: 50%;
}

#single-player-card {
  background-color: rgba(167, 89, 89, 0.435);
  margin: auto;
  border: solid 2px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 5px;
}

#players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: auto;
}

div.player-card {
  border: solid 2px;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 5px;
  background-color: rgba(167, 89, 89, 0.435);
}

.player-img {
  width: 60%;
  margin: 10px;
}

hr {
  width: 90%;
  height: 2px;
  background-color: rgb(114, 22, 22);
  margin-top: 20px;
}
